html, body {
	margin: 0;
	padding 0;
	overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}



body {
	background-image:url("images/websitebackground.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family:arial;
}




a {
	font-size: 1vw;
	text-decoration: none;
}
.toppage {
	background-color:rgba(0,0,0,0.7);
	padding:5px;
	text-align: right;
	/*border-bottom: 1px solid black;*/
}
.mainh1 {
	color: #0074d9;
	text-align:center;
	padding: 150px 0px 0px 0px;
	font-size: 5vw;
	font-family: "Helvetica Neue", sans-serif;
	letter-spacing: -1px;
	line-height: 1;
	font-weight: bold;
}
.mainh2 {
	color: white;
	text-align:center;
	padding: 1px 0 0 0;
	font-family:georgia, serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#about {
	background-color: rgba(84,153,230,1);
	margin: 400px 0px 0px 0px;
	padding: 0 0 300px 0;
	text-align: center;
	
}

.abouth1 {
	color: white;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-transform: uppercase;
}

.abouth2 {
	color: white;
	display: block;
	margin: 0 auto;
	font-size: 1vw;
	padding: 1px 0 0 0;
	font-family: georgia, serif;
	width: 600px;
	
}

#event {
	background-color: white;
	margin: 0 0 0 0; 
	padding: 0 0 300px 0;
	text-align: center;
} 

.fmpQuote {
	color: white;
	background-color: rgba(100,100,100,.3);
	text-align: center;
	font-family: "Georgia", serif;
	font-size: 20px;
	font-weight: 800;
	line-height: 72px;
	padding:300px 0 300px 0;
	margin: 0 0 0 0;
	text-transform: uppercase;
}

.eventh1 {
	color: #0074d9;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-transform: uppercase;
	
}
.eventh2 {
	font-family: georgia, serif;
	color: white;
}

.aboutL {
	color:white;
	padding-right:5px;
}

.eventL {
	color:white;
	padding-right:5px;
}

.contactL {
	color:white;
	padding-right:5px;
}
.logo {
	
	display: block;
	margin: 200px auto 0 auto;
}
.eventList {
	color:black;
	font-size:22px;
	display: inline-block;
	text-align: left;
	margin:0 auto;
}
li {
	margin-bottom:5px;
}


.link {
	font-size:22px;
	color:#0074d9;
}	

#contact {
	background-color: white;
	margin: 0 0 0 0; 
	padding: 0 0 100px 0;
	text-align: center;
} 

.contacth1 {
	color: #0074d9;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-transform: uppercase;
	
}
.contactList {
	color:black;
	font-size:22px;
	display: inline-block;
	text-align: left;
	margin:0 auto;
}