html, body {
	margin: 0;
	padding 0;
	overflow: scroll;
    overflow-x: hidden;
    
}





.top {
	padding: 100px 0 300px 0;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.toppage {
	position: fixed;
	width: fill;
	background-color:rgba(0,0,0,0.7);
	padding:5px;
	text-align: right;
	/*border-bottom: 1px solid black;*/
}





a {
	font-size: 1vw;
	text-decoration: none;
}

.aboutL {
	color:white;
	padding-right:5px;
}

.eventL {
	color:white;
	padding-right:5px;
}

.contactL {
	color:white;
	padding-right:5px;
}





.logo {
	display: block;
	margin: 200px auto 0 auto;
	border-radius: 20%;
  
	-webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
}
.logo:hover {
	
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}






#about {
	background-color: #fff;
	margin: 0px 0px 0px 0px;
	padding: 0 0 150px 0;
	text-align: center;
	
}

.abouth1 {
	color: #0074d9;
	text-align: center;
	font-family: "Times New Roman", "Georgia", serif;
	
	
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-transform: uppercase;
}


 abouth1:after {
     background: none repeat scroll 0 0 #333;
     bottom: -10px;
     content: "";
     display: block;
     height: 10px;
     position: relative;
     width: 100px;
 }


.abouth2 {
	color: #333;
	font-size:22px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 100;
	margin: 0 auto;
	padding: 1px 0 0 0;
	width: 600px;
	
}










#event {
	background-color: white;
	margin: 0 0 0 0; 
	padding: 0 0 150px 0;
	text-align: center;
} 



.eventh1 {
	color: #0074d9;
	text-align: center;
	font-family: "Times New Roman", "Georgia", serif;
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-transform: uppercase;
	
}

.eventList {
	color:#333;
	font-size:22px;
	display: inline-block;
	text-align: left;
	padding-top: 50px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin:0 auto;
}

li {
	margin-bottom:5px;
}









.fmpQuote {
	color: white;
	background-color: rgba(100,100,100,.3);
	text-align: center;
	font-family: "Georgia", serif;
	font-size: 20px;
	font-weight: 800;
	line-height: 72px;
	padding:300px 0 300px 0;
	margin: 0 0 0 0;
	text-transform: uppercase;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}


.lanQuote {
	color: white;
	background-color: rgba(100,100,100,.3);
	text-align: center;
	font-family: "Georgia", serif;
	font-size: 20px;
	font-weight: 800;
	line-height: 72px;
	padding:300px 0 300px 0;
	margin: 0 0 0 0;
	text-transform: uppercase;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}







.link {
	font-size:22px;
	color:#0074d9;
}	

#contact {
	background-color: white;
	margin: 0 0 0 0; 
	padding: 0 0 100px 0;
	text-align: center;
} 

.contacth1 {
	color: #0074d9;
	text-align: center;
	/*font-family: "Raleway", sans-serif;*/
	font-family: "Times New Roman", "Georgia", serif;
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-transform: uppercase;
	
}
.contactList {
	color:#333;
	font-size:22px;
	display: inline-block;
	text-align: left;
	margin:0 auto;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}